/*!*************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/main.scss ***!
  \*************************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap);
/*!*****************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/scss/main.scss (1) ***!
  \*****************************************************************************************************************/
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 48px;
  height: 100%;
  background: #000000;
  cursor: grab;
}

input[type=range]::-moz-range-thumb {
  width: 48px;
  height: 100%;
  background: #000000;
  cursor: grab;
}

input[type=range]::-webkit-slider-thumb:active,
input[type=range]::-moz-range-thumb:active {
  cursor: grabbing;
  background-color: #a57936;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 100%;
  background: #a57936;
  cursor: pointer;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 14px;
  background: #a57936;
  border-radius: 2px;
  cursor: pointer;
}

.slider {
  flex: 1;
}

.slider input {
  width: 100%;
  height: 100%;
  outline: none;
  appearance: none;
  cursor: pointer;
  margin: 0;
  border-radius: 0;
}

.togglebutton {
  background-color: #3b307e;
  color: #FFFFFF;
}
.togglebutton.ON {
  background-color: #cc0000;
}

.triggerbutton {
  background-color: #4b3cad;
  color: #FFFFFF;
}
.triggerbutton.ON {
  background-color: #cc0000;
}

.xypadwrapper {
  padding: 30px;
  background-color: #000000;
}
.xypadwrapper .xypad {
  width: 100%;
  padding-bottom: 100%;
  height: 0;
  position: relative;
  background-color: #cccccc;
}
.xypadwrapper .handle {
  width: 60px;
  height: 60px;
  background-color: #cc0000;
  position: absolute;
  transform: translate(-50%, 50%);
  cursor: pointer;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "Montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
}

#tone {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#APP {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#APP .controls {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2px;
  background-color: #eeeeee;
}
#APP .controls .sliders {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2px;
}
#APP .controls .toggles,
#APP .controls .triggers {
  display: flex;
  justify-content: space-between;
  gap: 2px;
}
#APP .controls .togglebutton,
#APP .controls .triggerbutton {
  flex: 1;
  padding: 36px 24px;
  font-family: "Montserrat";
  border: none;
  cursor: pointer;
}
#APP .start {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5882352941);
  display: flex;
  justify-content: center;
  align-items: center;
}
#APP .start .trigger {
  background-color: #cc0000;
  width: 100px;
  height: 100px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map*/